.book-template {
    max-width: 200px;
    text-align: center;
    border-radius: 0.5em;
    box-shadow: 0 0 1em 0 rgb(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;

}

.book-template p {
    font-size: 0.9rem;
    padding-bottom: 1rem;
    color: #555;
}

.book-template p span {
    color: orange;
    font-weight: bold;
}

.book-template:hover {
    transform: translateY(-0.5em);
}

.book-template img {
    max-width: 100%;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
}

.book-template .description h3,
.book-template .description h5 {
    padding-bottom: 0.5rem;
    font-weight: normal;
    color: #555;
}

.book-template .description h3 {
    font-weight: bold;
}

.book-template .description button {
    margin-bottom: 1rem;
    background-color: rgb(248, 209, 136);
    color: #555555;
    border: none;
    padding: 0.2em 0.8em;
    border-radius: 1em;
    transition: background-color 0.3s ease-in-out;
    cursor: pointer;
}

.book-template .description button a{
    text-decoration: none;
    color:white
}

.book-template .description button:hover {
    background-color: rgb(230, 180, 100);
}