
.catalog .books {
    padding: 2em 4em;
    display: flex;
    justify-content: center;
    gap: 2em;
    position: relative;
    flex-wrap: wrap;
}
/*
.catalog .books .book-template {
    max-width: 200px;
    text-align: center;
    border-radius: 0.5em;
    box-shadow: 0 0 1em 0 rgb(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;

}

.catalog .books .book-template:hover {
    transform: translateY(-0.5em);
}

.catalog .books .book-template img {
    max-width: 100%;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
}

.catalog .books .book-template .description h3,
.catalog .books .book-template .description h5 {
    padding-bottom: 0.5rem;
    font-weight: normal;
    color: #555;
}

.catalog .books .book-template .description h3 {
    font-weight: bold;
}

.catalog .books .book-template .description button {
    margin-bottom: 1rem;
    background-color: rgb(248, 209, 136);
    color: #555555;
    border: none;
    padding: 0.2em 0.8em;
    border-radius: 1em;
    transition: background-color 0.3s ease-in-out;
    cursor: pointer;
}

.catalog .books .book-template .description button:hover {
    background-color: rgb(230, 180, 100);
}
*/
.catalog h1 {
    text-align: center;
    color: orange
}

h1.empty{
    margin-top: 3em;
    font-size: 2rem;
    color: #666;
}
.catalog nav ul {
    display: flex;
    margin-top: 2em;
    justify-content: center;
    padding: 0 5em;
    gap: 3em
}


.catalog nav ul li {
    display: block;
}


.catalog nav ul li a {
    text-decoration: none;

}

.catalog nav a {
    color: black
}

.catalog nav li.active a {
    color: orange
}

.catalog nav a:hover {
    color: rgb(230, 180, 100);

}