
.create-book {
    max-width: 85%;
    margin: 0 auto;
    border: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    padding: 4em 12em;
    transition: all 0.3s ease-in-out;
    border-radius: 10px;
    background: url("https://images.unsplash.com/photo-1531256379416-9f000e90aacc?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-position: center;
    background-size: cover;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.create-book:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.create-book h2 {
    text-align: center;
    color: rgb(230, 180, 100);
    padding-bottom: 1.5rem;
}

.create-book .create-form {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: center;

}

.create-book .create-form .field {
    width: 20%;
}

.create-book .create-form .field-description {
    width: 20%;
}

.create-book .create-form input[type='submit'] {
    width: 25%;
    margin: 0 auto;
}

.create-form .field input,
.create-form .field-description textarea,
.field select {
    transition: all 0.3s ease-in-out;
    border: 2px solid #ccc;
    padding: 8px;
    border-radius: 5px;
    outline: none;
    width: 100%;
    cursor: pointer;
    resize: vertical;
    /* Allows vertical resizing */
}

.create-form .field input:focus,
.create-form .field-description textarea:focus {
    border-color: rgb(230, 180, 100);
    ;
    /* Changes border color when focused */
    box-shadow: 0 0 5px rgba(230, 180, 100, 0.5);
}

.create-form label {
    font-style: italic;
    color: #555
}

.field-description textarea,
.field select {
    height: 45px;
}