
.site-home .banner {
    background-image: url("../images/background2.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.site-home .banner h1,
.site-home .banner h3 {
    text-align: center;
    color: white;
    font-weight: normal;
}

.site-home .banner h1 {
    padding-top: 1em;
    padding-bottom: 1.5rem;
    font-size: 3rem;
}

.site-home .banner h3 {
    padding: 1.5rem;
}

.site-home .featured-books {
    padding: 2em 4em;
    display: flex;
    justify-content: center;
    gap: 2em;
    position: relative;
    flex-wrap: wrap;
}

.featured-books h1.empty{
    margin-top: 1em;
    font-size: 2rem;
    color: #666;
}
