
.login-page {
    display: flex;
    width: 50%;
    margin: 0 auto;
    gap: 2em;
    border: 1px solid #ccc;
    display: flex;
    transition: all 0.3s ease-in-out;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 2rem;
}

.login-page:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.login-page .login-form-container {
    display: flex;
    flex-direction: column;
    gap: 2em;
    justify-content: center;
    align-items: center;
    flex-grow: 1;

}

.login-page .login-form {
    width: 100%;
    padding: 2em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: center;
}

.login-page .login-form-container h2 {
    color: rgb(230, 180, 100);

}

.login-page .login-form input[type='submit'] {
    width: 50%;
    margin: 0 auto;
}


.login-form .field input {
    transition: all 0.3s ease-in-out;
    border: 2px solid #ccc;
    padding: 8px;
    border-radius: 5px;
    outline: none;
    width: 100%;
    cursor: pointer;
    resize: vertical;

}

.login-form .field input:focus {
    border-color: rgb(230, 180, 100);
    ;
    /* Changes border color when focused */
    box-shadow: 0 0 5px rgba(230, 180, 100, 0.5);
}

.login-form label {
    font-style: italic;
    color: #555
}

.login-page .image img {

    display: block;
    max-width: 400px;
    width: 100%;
    height: auto;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}