.site-wishlist .featured-books {
    padding: 2em 4em;
    display: flex;
    justify-content: center;
    gap: 2em;
    position: relative;
    flex-wrap: wrap;
}

.site-wishlist .featured-books .book-template {
    max-width: 200px;
    text-align: center;
    border-radius: 0.5em;
    box-shadow: 0 0 1em 0 rgb(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;

}

.site-wishlist .featured-books .book-template:hover {
    transform: translateY(-0.5em);
}

.site-wishlist .featured-books .book-template img {
    max-width: 100%;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
}

.site-wishlist .featured-books .book-template .description h3,
.site-wishlist .featured-books .book-template .description h5 {
    padding-bottom: 0.5rem;
    font-weight: normal;
    color: #555;
}

.site-wishlist .featured-books .book-template .description h3 {
    font-weight: bold;
}

.site-wishlist .featured-books .book-template .description button {
    margin-bottom: 1rem;
    background-color: rgb(248, 209, 136);
    color: #555555;
    border: none;
    padding: 0.2em 0.8em;
    border-radius: 1em;
    transition: background-color 0.3s ease-in-out;
    cursor: pointer;
}

.site-wishlist .featured-books .book-template .description button:hover {
    background-color: rgb(230, 180, 100);
}
.site-wishlist .featured-books .book-template{
    position: relative;
}
.site-wishlist .featured-books .book-template .remove-btn{
    position: absolute;
    top:0;
    right: 0;
   
}
.site-wishlist .featured-books .book-template .remove-btn button{
    padding: 0.3em 0.6em;  
    background-color: white;
    color: red;    
    border:none;
    border-radius: 0.3em;
}
.site-wishlist .featured-books .book-template .remove-btn button i{
    font-size: 1.2rem;
}
.site-wishlist .featured-books .book-template .remove-btn button:hover{
    background-color: white;
    color: #ccc;  
}

.site-wishlist h1{
    text-align: center;
    color: orange;
    font-size: 1.5rem;
}

.site-wishlist h2{
    font-size: 1.5rem;
    color:#666;
}